USE [master]
GO
/****** Object:  Database [DB_Ferreteria]    Script Date: 4/10/2023 11:35:27 PM ******/
CREATE DATABASE [DB_Ferreteria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Ferreteria', FILENAME = N'/var/opt/mssql/data/DB_Ferreteria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_Ferreteria_log', FILENAME = N'/var/opt/mssql/data/DB_Ferreteria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Ferreteria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Ferreteria]
GO
/****** Object:  Schema [Customers]    Script Date: 4/10/2023 11:35:27 PM ******/
CREATE SCHEMA [Customers]
GO
/****** Object:  Schema [Invoicing]    Script Date: 4/10/2023 11:35:27 PM ******/
CREATE SCHEMA [Invoicing]
GO
/****** Object:  Schema [PaymentMethods]    Script Date: 4/10/2023 11:35:27 PM ******/
CREATE SCHEMA [PaymentMethods]
GO
/****** Object:  Schema [Storage]    Script Date: 4/10/2023 11:35:27 PM ******/
CREATE SCHEMA [Storage]
GO
/****** Object:  Table [Storage].[Productos]    Script Date: 4/10/2023 11:35:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Storage].[Productos](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[ValorUnitario] [decimal](7, 2) NOT NULL,
	[UnidadCodigo] [int] NOT NULL,
	[Peso] [decimal](5, 2) NOT NULL,
	[VolumenEmpaque] [decimal](5, 2) NOT NULL,
	[FechaCreacion] [smalldatetime] NOT NULL,
	[FechaActualizacion] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
